@media (max-width: 64em) {
  html {
    font-size: 50%;
  }

  .heading-primary,
  .heading-secondary {
    font-family: "Fraunces", serif;
  }

  .heading-primary {
    color: var(--neutral-white);
    font-weight: var(--fw-black);
    font-size: 3.6rem;
    letter-spacing: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  /* HEADER */
  .header {
    z-index: 1000;
    padding: 4.8rem 2.4rem;
  }

  /* NAVIGATION */
  .main-nav-list {
    position: absolute;
    flex-direction: column;
    align-items: center;
    color: hsl(232, 10%, 55%);
    padding: 4.8rem 12rem;
    font-size: 1.8rem;

    top: 100%;
    left: 50%;

    background-color: hsl(0, 0%, 100%);

    transform: translateX(-50%);
    gap: 4.8rem;

    /* hide it visually */
    opacity: 0;

    /* make it unaccessible to mouse and kbd */
    pointer-events: none;

    /* hide it from screen readers */
    visibility: hidden;

    transition: all 0.5s ease-in;
  }

  .main-nav--active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  /* before and after is the one that create the effect .main-nav-list:before, */
  .main-nav-list:after {
    content: " ";
    display: block;
    border-style: solid;
    /* The triangle */
    border-width: 0 0 0.8em 2rem;
    border-color: transparent;
    position: absolute;
    right: 0;
  }
  .main-nav-list:before {
    /* top: -0.8em; */
    /* border-bottom-color: rgba(0, 0, 0, 0.5); */
  }

  .main-nav-list:after {
    top: -0.7em;
    border-bottom-color: #fff;
  }

  .contact-nav-btn:link,
  .contact-nav-btn:visited {
    font-size: 1.8rem;

    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
  }

  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: block;
  }

  .icon-mobile-nav {
    font-size: 3.6rem;
    color: hsl(0, 0%, 100%);
  }

  /* HERO SECTION */
  .hero-section {
    background-image: url("./images/mobile/image-header.jpg");
    background-position: center;

    position: relative;
  }

  .hero-content {
    transform: translateY(10%);
  }

  .heading-primary {
    font-size: 4rem;
  }

  /* FEATURE SECTION */
  .feature-section {
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .feature {
    padding: 7.2rem 3.6rem;
    text-align: center;
  }

  .feature-heading {
    font-size: 3.6rem;
  }

  .feature--text {
    font-size: 2.25rem;
    line-height: 1.5;
  }

  .feature--picture-transform {
    padding: 20rem;
    grid-row: 1;
    background-image: url("./images/mobile/image-transform.jpg");
  }

  .feature--picture-stand {
    padding: 20rem;
    background-image: url("./images/mobile/image-stand-out.jpg");
  }

  .feature--graphic {
    background-image: url("./images/mobile/image-graphic-design.jpg");
  }

  .feature--photography {
    background-image: url("./images/mobile/image-photography.jpg");
  }

  .feature--text-box {
    padding: 6.4rem 3rem;
    gap: 3em;
  }

  /* TESTIMONIALS SECTION */
  .testimonials-section {
    padding: 6.4rem 3rem;
    grid-template-columns: 1fr;
  }

  .client--testimonials-heading {
    font-size: 1.4rem;
  }

  .client--testimonial {
    gap: 2.4rem;
  }

  .testimonial--text {
    font-size: 2.25rem;
  }

  .client--details {
    gap: 0.8rem;
  }

  .client--occupation {
    font-size: 1.4rem;
  }

  /* GALLERY SECTION */
  .gallery-section {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery--picture {
    display: none;
  }

  .gallery--picture-mobile {
    width: 50vw;
    display: block;
    object-fit: cover;
  }
}
