:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-Yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  --neutral-darker-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-darker-grayish-blue: hsl(213, 9%, 39%);
  --neutral--dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral--grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

body {
  font-family: "Barlow", sans-serif;
}

.heading-primary,
.heading-secondary {
  font-family: "Fraunces", serif;
}

.heading-primary {
  color: var(--neutral-white);
  font-weight: var(--fw-black);
  font-size: 7.2rem;
  letter-spacing: 2rem;
  text-align: center;
  text-transform: uppercase;
}

main {
  position: relative;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 4.8rem;
}

/* NAV */
.main-nav-list {
  gap: 5.2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: var(--fw-semi-bold);
  color: var(--neutral-white);
}

.contact-nav-btn:link,
.contact-nav-btn:visited {
  font-size: 1.4rem;

  text-transform: uppercase;
  color: var(--neutral-darker-desaturated-blue);
  font-family: "Fraunces", serif;
  text-decoration: none;

  padding: 1.8rem 3rem;
  border-radius: 50px;
  background-color: var(--neutral-white);
}

/* HERO SECTION */
.hero-section {
  place-items: center;
  min-height: 100vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  transform: translateY(-20%);
  align-items: center;
  gap: 7.2rem;
}

.arrow-down {
  width: 3.6rem;
}

.feature-section {
  grid-template-columns: repeat(2, 1fr);
}
