:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-Yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  --neutral-darker-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-darker-grayish-blue: hsl(213, 9%, 39%);
  --neutral--dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral--grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
}

body {
  font-family: "Barlow", sans-serif;
}

.heading-primary,
.heading-secondary {
  font-family: "Fraunces", serif;
}

.heading-primary {
  color: var(--neutral-white);
  font-size: 6.4rem;
  text-align: center;
}

/* HERO SECTION */
.hero-section {
  justify-content: center;
  min-height: 100vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: contain;
  background-position: center;
}

.arrow-down {
  transform: translateY(-50%);
  justify-self: center;
}

/* ILLUSTRATION EGG SECTION */
.illustration-egg-section {
}
