:root {
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-Yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  --neutral-darker-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-darker-grayish-blue: hsl(213, 9%, 39%);
  --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
}

body {
  font-family: "Barlow", sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.heading-primary,
.heading-secondary {
  font-family: "Fraunces", serif;
}

.heading-primary {
  color: var(--neutral-white);
  font-weight: var(--fw-black);
  font-size: 7.2rem;
  letter-spacing: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 4.8rem;
}

/* NAV */
.main-nav-list {
  gap: 5.2rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: var(--fw-semi-bold);
  color: var(--neutral-white);
}

.contact-nav-btn:link,
.contact-nav-btn:visited {
  font-size: 1.4rem;

  text-transform: uppercase;
  color: var(--neutral-darker-desaturated-blue);
  font-family: "Fraunces", serif;
  text-decoration: none;

  padding: 1.8rem 3rem;
  border-radius: 50px;
  background-color: var(--neutral-white);
  transition: all 0.3s;
}

.contact-nav-btn:hover,
.contact-nav-btn:active {
  color: var(--neutral-white);
  background-color: hsl(200, 100%, 72%);
}

.btn-mobile-nav {
  display: none;
}

/* HERO SECTION */
.hero-section {
  place-items: center;
  min-height: 100vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  transform: translateY(-20%);
  align-items: center;
  gap: 7.2rem;
}

.arrow-down {
  width: 3.6rem;
}

/* FEATURE SECTION */
.feature-section {
  grid-template-columns: repeat(2, 1fr);
}

.feature {
  gap: 3.6rem;
  padding: 16rem 14rem;
}

.feature-heading {
  font-weight: var(--fw-black);
  font-size: 5.2rem;
  color: var(--neutral-darker-desaturated-blue);
}

.feature--text {
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.8rem;
}

.learn--more {
  font-family: "Fraunces", serif;
  font-weight: var(--fw-black);
  text-transform: uppercase;
  font-size: 1.8rem;
  display: inline-block;
  padding: 0 0.5rem;
}

.learn--more-transform:link,
.learn--more-transform:visited {
  text-decoration: none;
  color: var(--neutral-darker-desaturated-blue);
  box-shadow: inset 0em -0.8rem hsla(51, 100%, 49%, 0.3);
  transition: all 0.3s;
}

.learn--more-transform:hover,
.learn--more-transform:active {
  box-shadow: inset 0em -0.8rem 0 0 var(--primary-Yellow);
}

.learn--more-stand:link,
.learn--more-stand:visited {
  text-decoration: none;
  color: var(--neutral-darker-desaturated-blue);
  box-shadow: inset 0em -0.8rem hsla(7, 99%, 70%, 0.3);
  transition: all 0.3s;
}

.learn--more-stand:hover,
.learn--more-stand:active {
  box-shadow: inset 0em -0.8rem var(--primary-soft-red);
}

.feature--picture-transform {
  background-image: url("./images/desktop/image-transform.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feature--picture-stand {
  background-image: url("./images/desktop/image-stand-out.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feature--graphic {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 65rem;
  place-items: end;
}

.feature--photography {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 65rem;
  place-items: end;
}

.feature--heading-graphic,
.feature--heading-photography {
  font-size: 3.2rem;
  font-weight: var(--fw-black);
}

.feature--heading-graphic,
.feature--text-graphic {
  color: var(--primary-dark-desaturated-cyan);
}

.feature--heading-photography,
.feature--text-photography {
  color: var(--primary-dark-blue);
}

.feature--text-box {
  padding: 6.4rem 17rem;
  gap: 3em;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  grid-template-columns: repeat(3, 1fr);
  padding: 9.6rem;
  row-gap: 4.8rem;
  column-gap: 4.8rem;

  background-color: var(--neutral-white);
}

.client--testimonials-heading {
  grid-column: 1/-1;
  justify-self: center;
}

.client--testimonial {
  align-items: center;
  gap: 4.8rem;
  font-size: 1.8rem;
  padding: 1.8rem;
}

.client--testimonials-heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: var(--fw-black);
  color: var(--neutral-grayish-blue);
  letter-spacing: 0.5rem;
}

.client-picture {
  width: 7rem;
  border-radius: 50%;
}

.testimonial--text {
  text-align: center;
  font-weight: var(--fw-semi-bold);
  line-height: 1.5;
  color: var(--neutral-darker-grayish-blue);
}

.client--details {
  gap: 1.2rem;
}

.client--name {
  font-family: "Fraunces", serif;
}

.client--occupation {
  font-size: 1.2rem;
  color: var(--neutral-grayish-blue);
}

/* ILLUSTRATION SECTION */
.gallery-section {
  grid-template-columns: repeat(4, 25%);
}

.gallery--picture {
  width: 100%;
}

.gallery--picture-mobile {
  display: none;
}

/* FOOTER */
.footer {
  padding: 6.4rem;
  background-color: hsl(165, 35%, 59%);
  align-items: center;
  gap: 3.6rem;
}

.footer-logo {
  fill: var(--primary-dark-desaturated-cyan);
}

.footer-list {
  list-style: none;
  gap: 4.8rem;
  font-size: 1.8rem;
  font-weight: var(--fw-semi-bold);
  margin-bottom: 4.8rem;
}

.footer--list-link:link,
.footer--list-link:visited {
  text-decoration: none;
  color: var(--primary-dark-desaturated-cyan);
  transition: all 0.3s;
}

.footer--list-link:hover,
.footer--list-link:active {
  text-decoration: none;
  color: var(--neutral-white);
}

.social-icon-list {
  align-items: center;
  list-style: none;
  gap: 2.4rem;
}

.social--icon {
  font-size: 2.4rem;
}

.icon {
  fill: var(--primary-dark-desaturated-cyan);
}

.icon:hover {
  fill: var(--neutral-white);
}

/* ATTRIBUTION */
.attribution {
  padding: 1.8rem;
  font-size: 1.4rem;
}
